# gitignore template for Phoenix projects
# website: http://www.phoenixframework.org/
#
# Recommended template: Elixir.gitignore

# Temporary files
tmp

# Static artifacts
node_modules
assets/node_modules
assets/elm/elm-stuff
blobs

# Since we are building assets from web/static,
# we ignore priv/static. You may want to comment
# this depending on your deployment strategy.
priv/static/

# Installer-related files
_build
tmp
doc
deps
